body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.containerchild{
    justify-content: end;
    margin-left: 50px;
}

.header{
    display: flex;
    height: 200;
    align-items: center;
    padding: auto;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.h1{
    font-size: 20px;
}

header, nav, section, footer {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f2f2f2;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

img {
    max-width: 100%;
    height: auto;
}

.card {
    max-width: 300px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #0b0b0b;
    border-radius: 5px;
    text-align: center;
}

.carda {
    text-decoration: none;
    color: #3498db; /* Link rangi */
}

.card {
    max-width: 300px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.card:hover {
    background-color: rgb(224, 224, 224); /* Hover qilganda card rangini o'zgartirish */
}

.card:hover p {
    color: rgb(60, 60, 60); /* Hover qilganda p rangini o'zgartirish */
}

.card p {
    margin-top: 10px;
    color: #a7a4a4;
}


.carda:hover {
    color: #000;
}

.instagram:hover p {
    color: black;
}
.instagram p {
    color: red;
}